@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400&display=swap');
@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
    @apply mb-4
  }
}

@tailwind components;
@tailwind utilities;

.custom-img {
  background-image: url('components/img/parallax/spaghetti.jpg');
  max-height: 700px;
}

/*
* Phone screens
*/
@media only screen and (max-height: 800px) {
  .custom-img {
    max-height: 350px;
  }
}

/*
* Tablets & small laptops
*/
@media only screen and (max-height: 920px) {
  .custom-img {
    max-height: 500px;
  }
}

/*
* Desktops
*/
@media only screen and (min-height: 920px) {
  .custom-img {
    max-height: 700px;
  }
}
/*body {
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.card{
    width: 100%;
    height: 200px;
    background: #D1D1D1;
    color:  #fff;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

